.home {
    height: auto;
    min-height: calc(100vh - 10vh);
    background-color: rgb(33,37,41);
    font-size: 2rem;
    color: white;
    text-align: center;
}

.img-carousel{
    height: calc(100vh - 10vh);
    width: 100%;
    object-fit: cover;
}

.carousel-caption h3, .carousel-caption p {
    background-color: #00000050;
}

.p-carousel{
    font-family: monospace;
    font-size: 24px;
}

