.cart {
    height: auto;
    min-height: calc(100vh - 10vh);
    object-fit: fill;
    font-size: 1rem;
    color: white;
    text-align: center;
    border-top: 1px solid white;
}

.cart h3 {
    animation: color 5s infinite ease;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    color: yellow
}

.cart .card{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: auto;
    box-shadow: none;
    border: 3px solid grey;
    background-color: rgba(255, 255, 255, 0.678);
}

.cart .card img {
    height: 10rem;
    object-fit: cover;
}

.cart .card h4 {
    color: black;
    font-size: 1.2rem;
    width: 20rem;
    text-align: center;
}

.btn-warning {
    background-color: yellow;
    border: 0;
    font-family: monospace;
}

.btn-seguirComprando{
    background-color: lightgrey;
}

.btn-vaciarCart {
    background-color: rgb(95, 95, 95);
}

.btn-comprar {
    background-color: black;
}