.bienvenidos {
    /* font-family: monospace; */
    font-size: 24px;
    animation: color 5s infinite ease;
}

@keyframes color {
    0% {color: yellow;} 
    25% {color: rgb(70, 70, 70)} 
    50% {color: black;} 
    75% {color: rgb(70, 70, 70)} 
    100% {color: yellow;}
}

h2 {
    font-family: monospace;
    font-size: 24px;
    text-decoration: underline;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    overflow: auto;
}