.btns {
    border: 1px solid lightgrey;
}

.btns button {
    border: 0;
    background-color: rgb(250, 250, 162);
    color: grey;
}

.btnOn {
    display: inline-block;
}

.btnOff {
    display: none;
}