.seccionDetalle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    padding-top: 1vh;
    height: auto;
    min-height: calc(100vh - 10vh);
    width: 100vw;
    border-top: 1px solid white
}

.seccionDetalle h3 {
    animation: color 5s infinite ease;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    color: yellow
}

.seccionDetalle .card {
    margin: 10px 0;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;
}

.card-detalle{
    display: inline-block;
    height: auto;
    width: auto;
}

.card-detalle h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    height: 50px;
    text-align: start;
}

.card-detalle p {
    text-align: start;
}

.card-detalle .detalle {
    font-family: monospace;
}

.card-detalle img {
    text-align: center;
    height: 20rem;
    object-fit: cover;
}

.btn-verCarrito {
    font-family: monospace;
}