.bienvenido {
    animation: color 5s infinite ease;
    color: white;
    /* font-family: monospace; */
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
}

@keyframes color {
    0% {color: #FFC107;} 
    25% {color: rgb(70, 70, 70)} 
    50% {color: black;} 
    75% {color: rgb(70, 70, 70)} 
    100% {color: #FFC107;}
}

.loading {
    font-family: monospace;
    font-size: 1rem;
    text-decoration: underline;
}
