.itemList{
    height: auto;
    min-height: calc(100vh - 10vh);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://img.freepik.com/foto-gratis/cielo-estrellado_1048-11828.jpg');
}

.itemList section {
    display: flex;
    justify-content: center;

}

.links {
    padding: 1rem 2rem;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
}

.links a {
    display: inline-block;
    width: auto;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    overflow: auto;
    width: 90vw;
}

.catalogo a {
    text-decoration: none;
}