.navbar {
    height: 10vh;
    font-family: monospace;
}

.navbarLinks a {
    text-decoration: none;
    padding: 8px;
    color: lightgray;
}  

.navbarLinks .activeClass {
    color: white;
}

.logo {
    height: calc(10vh - 16px);
}

.logo span a{
    display: flex;
    text-decoration: none;
}

.logo span a p {
    color: white;
}

.divNav {
    width: 150px;
    justify-content: space-evenly;
}

.navCollapse {
    z-index: 1;
}

.carrito {
    height: calc(10vh - 16px);
}